@model OverTheTop2.Models.Category

@{
    ViewBag.Title = "Create";
}
<div class="card shadow">
    <h2>@Model.Name</h2>

    @using (Html.BeginForm("MyUpload", "CategoryImages", new { id = Model.id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="myFiles" multiple />
        <button class="btn btn-default">Upload</button>
    }

</div>
