@model OverTheTop2.ViewModels.subCategoryFormViewModel
@{
    ViewBag.Title = "SubCategoryForm";
}

<div class="card shadow">


    @using (Html.BeginForm("Update", "SubCategories", new { id = ViewData["SubId"] }, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Before)
            <input name="Before" type="file">
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.After)
            <input name="After" type="file">
        </div>       
        <button type="submit" class="btn btn-primary">Save</button>
    }
</div>
