@{
    ViewBag.Title = "Contact";
}

<div class="row card shadow">
    <div class="col-md-12">
        <h1>Owner</h1>
        <h3>John Vangeemen</h3>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Email: <a href="mailto:fixitonce@hotmail.ca">fixitonce@hotmail.ca</a></li>
            <li class="list-group-item">Phone: 289-213-3880</li>
        </ul>
    </div>
</div>

<div class="row card shadow">
    <div class="col-md-12">
        <h1>Webmaster / Developer</h1>
        <h3>John Vangeemen JR</h3>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Email: <a href="mailto:john@johnvangeemen.com">john@johnvangeemen.com</a></li>
            <li class="list-group-item">Phone: 905-931-3555</li>
            <li class="list-group-item">Portfolio: <a href="https://www.johnvangeemen.com">www.johnvangeemen.com</a></li>
        </ul>
    </div>
</div>