<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://overthetoptransomrepair.ca</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>overthetoptransomrepair.ca</MSDeployServiceURL>
    <DeployIisAppPath>overthetoptransomrepair.ca</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ph19494995681</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=198.71.225.113;Initial Catalog=Default;Persist Security Info=True;User ID=overTheTop;Password=!nsiG1523" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="OverTheTop2.Models.ApplicationDbContext, OverTheTop2" MigrationConfiguration="OverTheTop2.Migrations.Configuration, OverTheTop2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection_DatabasePublish" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=198.71.225.113;Initial Catalog=Default;Persist Security Info=True;User ID=OverTheTop;Password=!nsiG1523" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_DatabasePublish_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=198.71.225.113;Initial Catalog=Default;Persist Security Info=True;User ID=OverTheTop;Password=!nsiG1523" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection_DatabasePublish-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=198.71.225.113;Initial Catalog=Default;Persist Security Info=True;User ID=overTheTop;Password=!nsiG1523</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>