@model OverTheTop2.Models.SubCategory

@{
    ViewBag.Title = "Index";
}

<div class="row card shadow">
    <p>
        @Html.ActionLink("Add New Image", "Create",new {id = Model.Id }, new {@class ="btn btn-default"})
    </p>


         
    @{ var imgs = Model.SubCategoryImages.ToList();}
    <div class="row">
        @for (int i = 0; i < Model.SubCategoryImages.Count; i++)
        {
            if (i > 0 && i % 4 == 0)
            {
                @:</div><div class="row">
            }

            <div class="col-md-3 card">
                        
                <img src="@Url.Content(imgs[i].directory)" class="squareImg" />
                       
                        
                @Html.ActionLink("Delete", "Delete", new {imgId = imgs[i].id, catId = Model.Id}, new {@class = "btn btn-danger deleteImg", @onclick = "return confirm('Are you sure you want to delete?');"})
            </div>
        }
    </div>               
</div>