body {
    font-family: 'Roboto', sans-serif !important;
    background: linear-gradient(0deg,rgba(0,0,0,0.70),rgba(0,0,0,0.70)), url(../Images/Background.jpg);
    font-family: 'Playfair Display', serif !important;

}

.btn-gallery {
    margin-top: 20px;
}

@media(max-width: 1250px) {
    h1 {
        font-size: 20px;
    }
}

@media(max-width: 991px) {
    h1 {
        font-size: 36px;
    }
}

.body-content {
    background-color: transparent;
    margin-top: 150px;
}

@media(max-width: 560px) {
    .body-content {
        padding-left: 5px;
        padding-right: 5px;
    }
}

a {
    color: inherit;
}

    a:hover {
        color: inherit;
    }


textarea{
    color:black;
    width:100%;
    height:50vh;
    font-size: 20px;
}
.container {
    width: 100%;
    padding: 30px;
    overflow-x:hidden;
}

.card {
    padding: 40px;
    margin-top:40px;
    color:white;

}
.list-group-item{
    color:black;
}

.shadow {
    box-shadow: 10px 10px 5px 2px rgba(0,0,0,0.4);
}

@media(max-width: 560px) {
    .card {
        margin: 15px;
    }
}

.card, .card .well {
    background-color: rgba(0,0,0,0.2);
    color: #ffffff;
}

.well {
    height: 12vw;
    font-size: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

@media(max-width: 1250px) {
    .well {
        height: 15vw;
    }
}

@media(max-width: 1100px) {
    .well {
        height: 25vw;
    }
}

@media(max-width: 991px) {
    .well {
        height: 17vw;
    }
}

@media(max-width: 796px) {
    .well {
        height: 30vw;
        font-size: 15px;
    }
}

.list-group {
    height: 150px;
}

.mission-card {
    padding-top: 300px;
    padding-bottom: 300px;
    padding-left: 400px;
    padding-right: 400px;
    color: white;
}

@media (max-width: 1300px) {
    .mission-card {
        padding-left: 200px;
        padding-right: 200px;
    }
}

@media (max-width: 1000px) {
    .mission-card {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.well {
    border-color: #444444;
    Background: transparent;
}

.navbar {
    border: none;
    padding: 20px 30px 20px 30px;
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    transition: 0.3s;
}

@media (max-width: 1000px) {
    .navbar {
        padding: 10px 10px 10px 10px;
    }
}

.navbar-trans {
    background: transparent;
}

.titleImage {
    background-color: #f1f1f1;
    text-align: center;
    font-size: 30px;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background-color: none;
    font-family: 'Anton', sans-serif;
}

.navbar {
    margin-bottom: 0px;
}


footer {
    padding: 30px;
    color: #fff;
    background-color: #222222;
}

@media (max-width: 734px) {
    footer {
        font-size: 10px;
    }
}

@media (max-width: 575px) {
    footer {
        font-size: 8px;
    }
}

.carousel .item {
    height: 500px;
}

.item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    min-height: 500px;
    margin: auto;
    width: 100%
}
/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}



.imgZoom {
    transition: transform .2s; /* Animation */
    padding: 10px;
    margin: 5px;
}

    .imgZoom:hover {
        transform: scale(1.1);
        z-index: 99;
    }

@media (min-width: 768px) {
    .modal-xl {
        width: 90%;
        max-width: 1200px;
    }
}

@media (max-width: 900px) {
    .titleImage {
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    .titleImage {
        font-size: 15px;
    }
}

@font-face {
    font-family: 'Arvo';
    font-display: auto;
    src: local('Arvo'), url(https://fonts.gstatic.com/s/arvo/v9/rC7kKhY-eUDY-ucISTIf5PesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
}


.squareImg {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

